
@font-face {
	font-family: 'AutoPro-Black';
	src: url('fonts/AutoPro-Black/AutoPro-Black.eot');
	src: url('fonts/AutoPro-Black/AutoPro-Black.eot?#iefix') format('embedded-opentype'),
		 url('fonts/AutoPro-Black/AutoPro-Black.woff') format('woff'),
		 url('fonts/AutoPro-Black/AutoPro-Black.ttf') format('truetype');
		 url('fonts/AutoPro-Black/AutoPro-Black.svg#AutoPro-Black') format('svg');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'AutoPro-Bold';
	src: url('fonts/AutoPro-Bold/AutoPro-Bold.eot');
	src: url('fonts/AutoPro-Bold/AutoPro-Bold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/AutoPro-Bold/AutoPro-Bold.woff') format('woff'),
		 url('fonts/AutoPro-Bold/AutoPro-Bold.ttf') format('truetype');
		 url('fonts/AutoPro-Bold/AutoPro-Bold.svg#AutoPro-Bold') format('svg');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'AutoPro-BoldItalic3';
	src: url('fonts/AutoPro-BoldItalic3/AutoPro-BoldItalic3.eot');
	src: url('fonts/AutoPro-BoldItalic3/AutoPro-BoldItalic3.eot?#iefix') format('embedded-opentype'),
		 url('fonts/AutoPro-BoldItalic3/AutoPro-BoldItalic3.woff') format('woff'),
		 url('fonts/AutoPro-BoldItalic3/AutoPro-BoldItalic3.ttf') format('truetype');
		 url('fonts/AutoPro-BoldItalic3/AutoPro-BoldItalic3.svg#AutoPro-BoldItalic3') format('svg');
	font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: 'AutoPro-Regular';
	src: url('fonts/AutoPro-Regular/AutoPro-Regular.eot');
	src: url('fonts/AutoPro-Regular/AutoPro-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/AutoPro-Regular/AutoPro-Regular.woff') format('woff'),
		 url('fonts/AutoPro-Regular/AutoPro-Regular.ttf') format('truetype');
		 url('AutoPro-Regular.svg#AutoPro-Regular') format('svg');
	font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: 'AutoPro-RegularItalic1';
	src: url('fonts/AutoPro-Regular/AutoPro-RegularItalic1.eot');
	src: url('fonts/AutoPro-Regular/AutoPro-RegularItalic1.eot?#iefix') format('embedded-opentype'),
		 url('fonts/AutoPro-Regular/AutoPro-RegularItalic1.woff') format('woff'),
		 url('fonts/AutoPro-Regular/AutoPro-RegularItalic1.ttf') format('truetype');
		 url('AutoPro-RegularItalic1.svg#AutoPro-RegularItalic1') format('svg');
	font-weight: normal;
    font-style: normal;
}

body{
	background-color: #fff;
}


body{
	font-family: 'AutoPro-Regular';
	font-size: 14px;
	color: #333;
}

b, strong{
	font-family: 'AutoPro-Bold';
}

h1{
	font-size: 2em;
	font-family: 'AutoPro-Black';
	padding-top:1em;
	padding-bottom: 0.5em;
}

h2{
	font-family: 'AutoPro-Bold';
	font-size: 1.3125em;
}

h1, h2, h3{
	margin: 0;
}

a, a:hover{
	color: #1F4D85;
	text-decoration: none;
}

em{
	font-family: 'AutoPro-RegularItalic1';
}
